<section class="content">
   <section class="content-movies">
     <div class="movies" *ngIf="movies.length > 0">
       <app-movie-item  *ngFor="let movie of movies; let i = index" 
         [movie]="movie" [isSelected]="selected === i" 
         (click)="selectMovie(i);"></app-movie-item>
     </div>
   </section>
   <section class="content-details">
     <div class="content-details-buttons">
       <button class="button" (click)="addMovie();">Add new movie</button>
       <button class="button" (click)="removeMovie();">Remove movie</button>
     </div>
     <app-movie-detail [movie]="movie" class="content-details-movie"></app-movie-detail>
   </section>
</section>