@import '../../assets/definitions.scss';

.content {
  display: flex;
  height: 100%;
  
  &-details {
    border: solid 1px $color-light-gray;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    width: 75%;
    height: 90%;
    &-buttons{
      display:flex;
      justify-content: flex-end;
      margin: 1rem 0;
    }

    &-movie {
      flex-grow: 1;
    }
  }
  &-movies {
    max-height: 100%;
    overflow: auto;
    padding: 1rem;
    width: 25%;
  }
}

.movies {
  border: 1px solid $color-light-gray;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  overflow: hidden;
}

.button {
  @include button;
}