<nav class="menu">
  <div class="logo">The Movies App</div>
  <ul class="menu-buttons">
    <li class="menu-button"><a [routerLink]="'/home'">Home</a></li>
    <li class="menu-button"><a [routerLink]="'/add-movie'">Add movie</a></li>
    <li class="menu-button"><a [routerLink]="'/top-5'">Top 5</a></li>
  </ul>
</nav>