<div class="addmovie">
  <div class="panel">
    <div class="panel-header">
      <div>Add Movie</div>
      <button class="button" (click)="saveMovie();" [disabled]="name.invalid || release.invalid || !movie.image">Save Movie</button>
    </div>
    <div class="panel-body">
      <div class="movie-attributes">
        <div class="form-element">
            <label for="title">Movie Title</label>
            <input type="text" [(ngModel)]="movie.title" placeholder="Movie Title"  required minlength="4" name="name" id="name"  #name="ngModel" />
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="error">
              <div *ngIf="name.errors.required">Name is required.</div>
              <div *ngIf="name.errors.minlength">
                Name must be at least 4 characters long.
              </div>
            </div>
          </div>
        <div class="form-element">
          <label for="release">Release date</label>
          <mat-form-field>
              <input matInput [matDatepicker]="releaseDatepicker" [(ngModel)]="movie.release" #release="ngModel" name="release" id="release" required>
              <mat-datepicker #releaseDatepicker></mat-datepicker>
              <mat-datepicker-toggle matSuffix [for]="releaseDatepicker"></mat-datepicker-toggle>
              <div *ngIf="release.invalid && (release.dirty || release.touched)"
              class="error">
                <div *ngIf="release.errors.required">Release date is required.</div>
              </div>
          </mat-form-field>         
        </div>
        <div class="form-element">
          <label for="file">Movie Image</label>
          <input type="file" (change)="changeImage($event)" required name="file" id="file"/>
        </div>
      </div>
      <div class="movie-attributes">
        <div class="form-element">
          <label for="description">Movie Description</label>
          <textarea [(ngModel)]="movie.description" name="description" id="description"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>