@import '../../assets/definitions.scss';

.panel {
  @include panel;
  margin: 1rem auto;
  width: 70%;
}

.form-element{
  @include form-element;
  padding: 0 2.5rem;
  input:not([type='file']), textarea {
    border: 0;
    border-bottom: 1px solid $color-blue;
  }

  .error{
    color: $color-error;
    font-size: $font-size-error;
  }
}

.movie-attributes {
  display: flex;
}

.button {
  @include button($color-white,$color-dark-gray);
}

.mat-form-field-appearance-legacy {
  .mat-form-field-infix {
    padding: 0;
    border: 0;
  }
}

.mat-button-wrapper {
  color: $color-dark-gray;
}

.mat-input-element {
  font-size: 11px;
}

.mat-form-field-underline {
  display: none;
}
.mat-form-field-ripple {
  background-color: $color-white;
}
.placeholder {
  display: none;
}