<div class="item" [ngClass]="{'item--selected': isSelected }">
  <h4 class="item-title">{{movie.title}}</h4>
  <p class="item-release">
    <label>Release Date: </label>{{movie.release | date}}
  </p>
</div>

