@import '../../../assets/definitions.scss';

.item{
  border-bottom: 1px solid $color-light-gray;
  padding: 1rem 0.5rem;

  &--selected,
  &:hover {
    background: $color-yellow;
    color: $color-white;
  }

  &-title {
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
    margin: 0 0 1rem;
  }
  &-release {
    font-size: 0.8rem;
    margin: 0;
  }
}