<div *ngIf="!movie" class="empty">
  <div class="empty-text">&lt;--&nbsp;&nbsp;Select a movie to display</div>
</div>
<div class="details" *ngIf="!!movie">
  <div data-test="movie">
    <div class="details-header">
      <div class="movie-title">{{movie.title}}</div>
      <div class="movie-release">{{movie.release | date}}</div>
    </div>
    <div class="details-body">
        <div class="movie-img"><img [src]="movie.image" /></div>
        <div class="movie-description">{{movie.description}}</div>
    </div>
  </div>
</div>
