@import '../../../assets/definitions.scss';

.details {
 @include panel;
 height: 100%;
  
}

.empty {
  align-items: center;
  color: $color-light-gray;
  display: flex;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  &-text{
    text-align: center;
  }
}

.movie {
  &-img {
    height: 20rem;
    img {
      height: 100%;
    }
  }
}