<div class="top5">
    <h1 class="top5-title">TOP 5 Movies</h1>
    <div class="top5-movies">
      <div *ngFor="let movie of movies;" class="movie">
        <div class="movie-image">
            <img [src]="movie.image" />
        </div>
        <div class="movie-details">
          <h4 class="movie-title">{{movie.title}}</h4>
          <div class="movie-release">Release Date: {{movie.release | date}}</div>
        </div>
      </div>
    </div>
</div>

