@import '../../assets/definitions.scss';

.top5{
  margin: 1rem auto;
  width: 70%;
  &-movies {
    border: 1px solid $color-light-gray;
    border-radius: 1rem;
    margin: 1rem auto;
    width: 100%;
  }
}

.movie {
  border-bottom: 1px solid $color-light-gray;
  display: flex;
  height: 100px;
  width: 100%;
  &-image {
    box-sizing: border-box;
    height: 100%;
    padding: 1rem;

    img {
      height: 100%;
    }
  }

  &-details {
    padding: 1.5rem;
  }

  &-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 0 0.3rem;
  }

  &-release {
    font-size: 0.8rem;
  }
}